body {
  background-color: #1b1b1b;
  color: #eeeeed;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calcNum {
  display: flex;
  flex-wrap: wrap;
  width: 21rem;
}

#display {
  background-color: #eeeeed;
  color: #1b1b1b;
  height: 8rem;
  border: 0.5rem solid palevioletred;
}

#calculator button {
  padding: 1rem 0rem;
  width: 7rem;
  font-size: 3rem;
}
