body {
  background-color: #45474b;
  color: #eeeeed;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main,
#calculator,
#display,
.del,
#calcNum,
#calcOp {
  display: flex;
}

.main {
  flex-direction: column;
}

#calcOp {
  flex-direction: column;
}

#calcNum {
  flex-wrap: wrap;
  width: 21rem;
}

#display {
  justify-content: end;
  align-items: end;
  background-color: #f5f7f8;
  color: #1b1b1b;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  height: 8rem;
}

.del button {
  flex: 1;
  background-color: orangered;
  color: #eeeeed;
  padding: 0.5rem;
  text-align: center;
  box-shadow: inset 0 0 0 0 red;
  transition: all 0.5s;
  border: none;
}

.del button:hover {
  box-shadow: inset 30rem 0 0 0 red;
  animation: shake 0.1s;
}

@keyframes shake {
  0% {
    transform: translateX(0.1rem);
  }
  25% {
    transform: translateX(0.2rem);
  }
  50% {
    transform: translateX(0rem);
  }
  75% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(-0.2rem);
  }
}

#calculator button {
  border: 0.1rem solid black;
  color: #495e57;
  padding: 1rem 0rem;
  width: 7rem;
  font-size: 3rem;
}

#calculator #calcOp button,
button#other {
  background-color: #f4ce14;
}

#calculator button:hover {
  background-color: khaki;
}
